body, html {
    margin: 0;
   height: 100%;
}

.container {
    display: grid; 
    border: 2px solid black;
    overflow: auto;
}

.wrap {
    grid-template-columns: auto;
    grid-column-start: 2;
    grid-row-start: 3;
    grid-column-end: 2;
    grid-row-end: 3;
}